<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Image Classifier</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
      <input type="file" name="imagefile" id="imagefile" />
      <button type="submit">Predict</button>
    </form>
    <p id="prediction"></p>

    <!-- Include the predict.js file -->
    <script src="/login_with_otp (1)/login_with_otp/client/src/pages/predict.js/predict.js"></script>
  </body>
</html>
